.webapp-header{
    font-family: Roboto, sans-serif;
    font-size: large;
    background-color:#eaa411 ;
    box-shadow:0 0 10px rgba(0, 0, 0, .2);
    border-radius: 0px 0px 5px 5px;
    display: flex;
    justify-content: space-between;
    padding:10px
}