/* App.css */
main {
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
    padding: 20px;
  }
  
  nav button {
    background: none;
    color: white;
    border: 1px solid #888;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  nav button:hover {
    background-color: #333;
  }
  
  section {
    margin-top: 20px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
  }
  
  article {
    background-color: #fffcc9;
    padding: 20px;
    margin: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    flex: 1;
  }
  
.members {
    margin-right: 10px; /* Optional: to add some space between members and charts */
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 75%;
  }

  h1,h2{
    text-align: center;
  }
  
  .charts {
    margin-left: 10px; /* Optional: to add some space between charts and members */
    text-align: center;
   
  }

  
  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  ul li {
    padding: 5px 0;
    margin-top: 10px;
  }
  