.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.pop-inner .close-button {
    flex-grow: 1;
}

.popup-text {
    flex-grow: 4;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.popup-text h3 {
    padding-bottom: 20px;
}
