.project-wrapper{
    height: 100vh;
}

.feedbackTitle{
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 5px;
    background-color: transparent;
}
.display{
    display: flex;
    flex-direction: row;

}
.panel{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
    border: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-width: 1px;
    border-color: lightgray;
    height: 91vh;
    
    }
.feedbackButtons{
    background-color: rgb(249, 246, 243);
    border: solid;
    border-color: lightgray;
    border-width: 1px;
    height: 50px;
    width: 200px;
    font-size: large;
    color: black;
    border-radius: 0px;
    margin-top: 0px;
}
.feedbackButtons:hover{
        background-color: rgb(245, 243, 242);
        cursor: pointer;
}
.add-feedback{
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
}
.add-feedback h2{
    flex-direction: row;
}
.addreview{
display: flex;
flex-direction: column;
margin-left: 60px;
}
.member-select{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.member-select input{
    margin-left: 10px;
    align-self: flex-start;
    justify-self: flex-start;
}
textarea {
    margin-top: 20px;
    width: 500px; /* Set width to 100% */
    min-height: 20px; /* Set a minimum height */
    max-height: 80px;
    overflow-y: auto; /* Allow the height to grow */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    resize: none; /* Disable manual resizing */
}
.feedback-button{
    width: 110px;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
    background: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border-color: black;

}
.feedback-button:hover{
    cursor: pointer;
    background-color: rgb(56, 56, 56);
}

.review{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid rgb(190, 190, 190);
    padding: 20px;
    margin-left: 60px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
    max-width: 1000px;
    text-wrap: wrap;


}

.review-name{
    margin-bottom: 10px;
    background-color: transparent;
    font-weight: bolder;
    font-size: medium;
}
.message{margin-left: 10px;
    font-size: small;
    background-color: transparent;
}