.project-wrapper{
    height: 100vh;
}

.feedbackTitle{
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 5px;
    background-color: transparent;
}

.feedback-display{
    display: flex;
    flex-direction: row;
}

.feedback-panel{
    flex:0.4;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
    border: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-width: 2px;
    border-color: lightgray;
    height: 91vh;
    
    }

.feedback-panelButtons{
    background-color: black;
    border: none;
    color:white;
    border-width: px;
    border-radius: 5px;
    height: 9%;
    width: 200px;
    font-size: large;
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    transition: background-color 0.3s;
}

.feedback-panelButtons:hover{
    background-color: #565656;
    cursor: pointer;
}

.view-feedback{
    display: flex;
    flex:3;
    flex-direction: column;
}
.no-feedback-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(190, 190, 190);
    padding: 20px;
    margin-left: 60px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
    width:30%;
}

.add-feedback{
    display: flex;
    flex:3;
    flex-direction: column;
    align-items: center;
}

.addreview{
display: flex;
flex-direction: column;
margin-left: 60px;
background-color: #ff6d00;
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}
.member-select{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.member-select p{
    margin-right: 10px;
}
.textarea-give-feedback {
    margin-top: 20px;
    width: 500px; /* Set width to 100% */
    min-height: 20px; /* Set a minimum height */
    max-height: 80px;
    overflow-y: auto; /* Allow the height to grow */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    resize: none; /* Disable manual resizing */
    outline:none;
}
.giveFeedback-button{
    width: 110px;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
    background: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: none;
    transition: background-color 0.3s;

}
.giveFeedback-button:hover{
    cursor: pointer;
    background-color: rgb(56, 56, 56);
}

.review{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid rgb(190, 190, 190);
    padding: 20px;
    margin-left: 60px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
    max-width: 1000px;
    text-wrap: wrap;


}

.review-name{
    margin-bottom: 10px;
    background-color: transparent;
    font-weight: bolder;
    font-size: medium;
}
.message{margin-left: 10px;
    font-size: small;
    background-color: transparent;
}

.error-label {
    color: red;
    font-size: 12px;
}


