.table-wrapper {
    width: 90%;
    flex-wrap: nowrap;
}

.table-wrapper tr{
    margin-top: 20px;
    display: flex;
    margin-left: 60px;
}

.project-name{
    flex:1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.project-desc{
    flex: 6;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
}

.project-est-time{
    flex:0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-members{
    border-color: lightgray;
    flex:4;
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    align-items: center;
}

.table-wrapper td{
    border-top: solid;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    border-color: lightgray;
}
