.table-wrapper {
    width: 80%;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.table-wrapper tr{
    display: flex;
    margin-left: 60px;
    margin-bottom: 15px;

}
.table-wrapper td{
    border-width: 2px;
    border-color: #ff6D00;
    padding: 10px;
}

.project-name{
    flex:1;
    background-color: #ff6D00;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid;
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.project-expand{
    flex:7;
    border: 2px solid #ff6D00;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: flex-end;
}
.project-expand img{
    height: 40px;
    cursor: pointer;
}

.project-desc{
    flex: 3.5;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    border-left: none;
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.project-est-time{
    flex:0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.project-manager{
    flex:2;
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.project-members{
    flex:4;
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid;
    border-top: solid;
    border-bottom: solid;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.project-members2{
    flex:4;
    display: flex;
    padding-left: 60px;
    justify-content:left;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid;
    border-top: solid;
    border-bottom: solid;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.project-members li{
    list-style-type: none;
}
.project-members2 li{
    list-style-type: none;
}

.project-header-name{
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}
.project-header-desc{
    flex: 4.1;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    border-left: none;
}
.project-header-desc2{
    flex: 2.5;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    border-left: none;
}
.project-header-manager{
    flex:1.6;

}
.project-header-est-time{
    flex:1.2;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.project-header-members{
    border-color: lightgray;
    flex:2;
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    align-items: center;
}
.feedback-button{
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s;
    outline: none;
    border: none;
    padding: 5px;
    width: 110px;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
}
.feedback-button:hover{
    cursor: pointer;
    background-color: rgb(56, 56, 56);
    outline: none;
    border: none;
}
.time-button{

    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s;
    outline: none;
    border: none;
    padding: 5px;
    width: 110px;
    justify-self: center;
    align-self: center;
    margin-top: 10px;

}
.time-button:hover{

    cursor: pointer;
    background-color: rgb(56, 56, 56);
    outline: none;
    border: none;

}

.chat-button{

    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s;
    outline: none;
    border: none;
    padding: 5px;
    width: 110px;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.chat-button:hover{
    cursor: pointer;
    background-color: rgb(56, 56, 56);
    outline: none;
    border: none;
}

.buttons-display{

    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: none;
    
}