.message-wrapper{
    padding: 20px;

}
.message-sent{
    display: flex;
    flex-direction: column;
    background-color:rgb(231, 231, 231);
    border: 1px solid lightgray;
    width: fit-content;
    max-width: 500px;
    min-height: 90px;
    padding:3px;
    margin-left: auto;
    justify-self: right;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.message-name-sent{
    font-size: 15px;
    justify-self: end;
    margin-left: auto;
    margin-right: 10px;
}
.message{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    margin-left: 20px ;
}
.message-time{
    justify-self: center;
    align-self: flex-end;
    margin-right: 10px;
    font-size: 10px;
}