.meal-display{
    display: flex;
    flex-direction: row;
    min-height: 92.6vh;
    background-color: whitesmoke;

}

.meal-panel{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    background-color: #ffffff;
    border: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-width: 2px;
    border-color: lightgray;
    bottom:0;
}

.meal-panelButtons{
    background-color: black;
    border: none;
    color:white;
    border-width:  1px;
    border-radius: 5px;
    min-height: 60px;
    width: 200px;
    font-size: large;
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    transition: background-color 0.3s;
}

.meal-panelButtons:hover{
    background-color: #565656;
    cursor: pointer;
}
.display-meals-wrapper{
    font-family:  Roboto, sans-serif;
    border: 2px solid lightgray;
    background-color: white;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 30px ;
    height: 80%;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5% auto;
}
.display-meals-wrapper p{
    font-weight: bold;
    margin-top: 20px;
}


.book-meals-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 8%;
    background-color: #FF6D00;
    height: 60%;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);


}
.book-meals-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 60%;
    width: 80%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.book-meals-wrapper h2{
    border-radius: 5px;
    padding:10px;
    justify-self: center;
    align-self: center;
    margin-bottom: 10px;;
}
.book-entry{
    display: flex;
    flex-direction: column;
}
.book-entry-name{
    padding-bottom: 5px;
}
.book-entry-desc{
    padding-top: 10px;
    padding-bottom: 5px;
}
.book-entry input{
    font-family:  Roboto, sans-serif;
    height: 30px;
    width: 400px;
    border-radius: 5px;
    border: 2px solid lightgray;
}

.book-entry input:focus{
    outline: none;
}
.book-entry textarea{
    font-family:  Roboto, sans-serif;
    resize: none;
    height: 65px;
    border-radius: 5px;
    border: 2px solid lightgray;
}
.book-entry textarea:focus{
    outline: none;
}
.book-entry p{
    margin-bottom: 5px;
}
.book-meals-button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    justify-self: center;
    align-self: center;
}
.book-meals-button:hover{
    background-color: #383838;
}

.book-meals-wrapper .errorLabel {
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin-top: 10px;
}