.bookmeals-header{
    margin-left:5%;
    margin-top: 2%;
}
.bookmeals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookmeals-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmeals-popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookmeals-popup  h2 {
    margin-top: 0;
    margin-bottom: 3%;
}

.bookmeals-popup  p {
    margin-bottom: 20px;
}

.bookmeals-popup  button {
    background-color:black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.bookmeals-popup  button:hover {
    background-color: #565656;
}

.bookmeals-buttons{
display: flex;
justify-content: space-between;
align-items: center;
gap:50px;
}

.bookedmeal-header{
    margin-left:5%;
    margin-top: 2%;
}

.bookedmeal-wrapper{
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    border: 2px solid #ff6d00;
    padding: 10px;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}


.bookedmeal-content{
    padding: 0;
    margin-top: 0;
    width:90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.bookedmeal-content h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.bookedmeal-content p{
    margin-bottom: 10px;
}