.meal-entry{
    margin-top: 2%;
    margin-bottom: 1%;
    border: 2px solid lightgray;
    background-color: white;
    border-radius: 5px ;
    width: 80%;
    height: auto;
    padding: 5px;
}



.meal-entry-name{
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}
.meal-entry-desc{
    margin-left: 20px;
}